<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        body{
            background: #eee;
        }
        .el-table .danger-cell {
            background: #f5bec9;
        }

        .el-table .success-cell {
            background: #f0f9eb;
        }

        .el-table h1, h5 {
            margin: 3px;
        }

        .block {
            height: 100px;
            width: 220px;
            /*background: #97b1fb;*/
            margin: 10px;
            padding: 10px;
            border: 1px solid rgb(226, 214, 207);
            border-radius: 12px;
        }
        .block.selected{
            border: 2px solid rgb(13 124 234);
            height: 98px;
            width: 218px;
            border-radius: 10px;
            border-image-source: linear-gradient(45deg, gold, deeppink);
            border-image-slice: 1;
            border-image-repeat: stretch;
        }
        .block:hover{
            background: #a5baf5;
        }

        .block.huobi{
            background: white url(image/huobi.logo.png) no-repeat;
            background-size: 35%;
            background-position: 102% center;
        }
        .block.bian{
            background: white url(image/bian.logo.png) no-repeat;
            background-size: 36%;
            background-position: 97% center;
        }
        .block.ok{
            background: white url(image/ok.logo.png) no-repeat;
            background-size: 34%;
            background-position: 95% center;
        }
        .block.uniswap{
            background: white url(image/uniswap.logo.png) no-repeat;
            background-size: 35%;
            background-position: 95% center;
        }
        .block.sushiswap{
            background: white url(image/sushiswap.logo.png) no-repeat;
            background-size: 33%;
            background-position: 98% center;
        }
        .block .price {
            font-size: 30px;
            font-weight: 700;
            font-family: "Roboto Mono", monospace;
        }
        .block .pair {
            font-size: 22px;
            font-weight: 700;
            font-family: "Roboto Mono", monospace;
        }
    </style>

</head>
<body>
<div id="app">
    <el-row>
        <div style="margin-top: 15px;">
            <el-input placeholder="请输入内容" v-model="searchStr" @input="search" class="input-with-select" style="width:200px">
                <el-button slot="append" icon="el-icon-search"></el-button>
            </el-input>
        </div>
    </el-row>
    <el-row>
    <div style="display: flex; flex-wrap: wrap">
        <div v-for="q in quote" class="block" @click="select($event, q)" :class="blockClass(q)" v-if="q.view">
            <div><b class="pair">{{q.name.toUpperCase()}}</b> </div>
            <div class="price">{{q.price}}</div>
            <div>{{q.selected ? '✔️️' : ''}}</div>
        </div>
    </div>
    </el-row>
    <hr>
    <el-row v-if="selected.length > 0">
        <h5 style="padding-left: 10px">已选</h5>

        <div style="display: flex; flex-wrap: wrap">
            <div v-for="q in selected" class="block" @click="select($event, q)" :class="blockClass(q)">
                <div><b class="pair">{{q.name}}</b> </div>
                <div class="price">{{q.price}}</div>
            </div>
        </div>
        <hr>
    </el-row>
    <el-row>
    <div>
        <el-input placeholder="几天" v-model="refreshDays" style="width: 120px">
            <template slot="append">天</template>
        </el-input>
        <template>
            <el-radio v-model="indexType" label="none">无</el-radio>
            <el-radio v-model="indexType" label="arbitrage">搬砖套利</el-radio>
            <el-radio v-model="indexType" label="triangular_arbitrage">三角套利</el-radio>
        </template>
        <el-button @click="refreshChart" type="primary">画图</el-button>
    </div>
    </el-row>
    <div id="chart" style="width: 1680px;height:800px;"></div>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.min.js"></script>
<script src="/s/socket.io.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.4.1/dayjs.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    //给定exchange列表
    let priceData = [];
    let pushData = function (exchangeName, quoteName, price) {
        let key = `${exchangeName}-${quoteName}`;
        priceData[key] = price;
        vue.$data.quote.forEach((e, i) => {
            if (e.exchange == exchangeName && e.name == quoteName) {
                vue.$data.quote[i].price = price;
            }
        });
    };
    let socket = io(window.location.host, {path: '/s'});

    let vue = new Vue({
        el: '#app',
        data: function () {
            return {
                chartVisible: false,
                quote: [],

                selected: [],
                refreshing: false,
                refreshDays: 1,
                indexType: 'none',

                searchStr: '',
            }
        },
        methods: {
            pushData: pushData,
            blockClass(q){
                let ret = {};
                ret[q.exchange] = true;
                ret['selected'] = q.selected;
                return ret;
            },
            chart(event, pairName) {
                // console.log(event, pairName);
                this.$data.chartVisible = true;

                socket.emit('history', pairName);
            },
            select(e, info) {
                // console.log(info.id);
                let id = info.id;
                let find = vue.$data.selected.find(s => s.id == info.id);
                if (find){
                    let index = vue.$data.selected.findIndex(s => s.id == info.id);
                    vue.$data.selected = vue.$data.selected.filter(s => s.id != info.id);
                    vue.$data.quote = vue.$data.quote.map(q => {if(q.id == id){q.selected = false;}return q;});
                }else{
                    vue.$data.selected.push(info);
                    vue.$data.quote = vue.$data.quote.map(q => {if(q.id == id){q.selected = true;}return q;});
                }
            },
            search(str){
                if (str == ''){
                    vue.$data.quote = vue.$data.quote.map(q => {q.view = true; return q;});
                }else{
                    str = str.split(' ');
                    vue.$data.quote = vue.$data.quote.map(q => {
                        let view = false;
                        for(let i = 0; i< str.length; i++){
                            if(q.name.indexOf(str[i]) != -1 || q.exchange.indexOf(str[i]) != -1){
                                view = true;
                            }else{
                                view = false;
                                break;
                            }
                        }
                        q.view = view;
                        return q;
                    });
                }

            },
            async refreshChart(){
                this.$data.refreshing = true;
                var myChart = echarts.init(document.getElementById('chart'));
                myChart.clear();
                legendData = [];
                xAxisData = [];
                seriesData = [];
                if (vue.$data.refreshDays > 30 || vue.$data.refreshDays < 1){
                    alert('天数只能在1~30天之内');
                    return;
                }
                let step = [];
                if (vue.$data.indexType == 'triangular_arbitrage') {
                    if (vue.$data.selected.length != 3) {
                        alert('3个环形交易对才能三角套利');
                        return;
                    } else {
                        //取出第一个交易对，按照a/b去第二或者第三个交易对去找有b的。 找到的为第二顺位，并调整计算顺序，剩下的是第三顺位，也要调整顺序。最后结果就是rate
                        let [c00, c01] = vue.$data.selected[0].name.replace('wbtc', 'btc').split('/');
                        let [c10, c11] = vue.$data.selected[1].name.replace('wbtc', 'btc').split('/');
                        let [c20, c21] = vue.$data.selected[2].name.replace('wbtc', 'btc').split('/');

                        console.log(c00, c01, c10, c11);
                        if ((c00 == c10 && c01 == c11) || (c00 == c11 && c01 == c10)) {
                            alert('不能有一样的交易对');
                            return;
                        }

                        //第二顺位
                        if (c01 == c10) {
                            if (c11 == c20) {
                                step = ['*', '*'];
                            }
                            if (c11 == c21) {
                                step = ['*', '/']
                            }
                        } else if (c01 == c11) {
                            if (c10 == c20) {
                                step = ['/', '*'];
                            }
                            if (c10 == c21) {
                                step = ['/', '/']
                            }
                        } else if (c01 == c20) {
                            if (c21 == c10) {
                                step = ['*', '*'];
                            }
                            if (c21 == c11) {
                                step = ['/', '*']
                            }
                        } else if (c01 == c21) {
                            if (c20 == c10) {
                                step = ['*', '/'];
                            }
                            if (c20 == c11) {
                                step = ['/', '/']
                            }
                        }
                        if (step.length == 0) {
                            alert('无法三角套利');
                            return;
                        }

                    }
                }
                for(let i = 0; i< vue.$data.selected.length; i++){
                    let selected = vue.$data.selected[i];
                    let exchangeName = selected.exchange;
                    let symbol = selected.name.replace('\/','-');
                    let limit = 1440 * vue.$data.refreshDays;
                    let response = await axios.get(`/api/minute_history?exchange_name=${exchangeName}&symbol=${symbol}&limit=${limit}`);
                    let legendName = `${selected.name}-${selected.exchange}`;
                    legendData.push(legendName);
                    xAxisData = response.data.map(r => r.minute);
                    seriesData.push({
                        symbol: "none",
                        name: legendName,
                        type: 'line',
                        data: response.data.map(r => r.price)
                    });
                        // .then(response =>{
                        //     console.log(response.data);
                        // })
                        // .catch(e => {
                        //     console.error('get history error:', e)
                        // });
                }

                if(seriesData.length >= 2 && vue.$data.indexType == 'arbitrage'){
                    let rateData = [];
                    //计算比例
                    for(let i = 0; i<xAxisData.length;i++){
                        let min = 0;
                        let max = 0;
                        for(let j = 0; j <seriesData.length; j++){
                            let price = seriesData[j].data[i];
                            if(price != null){
                                if(min == 0) {min = price};
                                if(max == 0) {max = price};
                                if(price < min){
                                    min = price;
                                }
                                if(price > max){
                                    max = price;
                                }
                            }
                        }
                        rateData.push((max / min - 1) * 100);
                    }
                    // console.log(rateData);
                    legendData.push('价差比例%');
                    seriesData.push({
                        symbol: "none",
                        name: '价差比例%',
                        type: 'bar',
                        yAxisIndex: 1,
                        data: rateData
                    });
                }
                if(vue.$data.indexType == 'triangular_arbitrage'){
                    let rateData = [];
                    //计算比例
                    for (let i = 0; i < xAxisData.length; i++) {
                        let rate = 0;
                        if (seriesData[0].data[i] > 0 && seriesData[1].data[i] > 0 && seriesData[2].data[i] > 0) {
                            rate = eval(seriesData[0].data[i] + step[0] + seriesData[1].data[i] + step[1] + seriesData[2].data[i]);
                            rate = (Math.abs(1 - rate) * 100);
                        } else {
                            rate = 0;
                        }
                        rateData.push(rate);
                    }
                    // console.log(rateData);
                    legendData.push('比例%');
                    seriesData.push({
                        symbol: "none",
                        name: '比例%',
                        type: 'bar',
                        yAxisIndex: 1,
                        data: rateData
                    });
                }

                var option = {
                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#283b56'
                            }
                        }
                    },
                    dataZoom: [{
                        type: 'inside',
                        start: 0,
                        end: 100
                    }, {
                        start: 0,
                        end: 10,
                        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                        handleSize: '80%',
                        handleStyle: {
                            color: '#fff',
                            shadowBlur: 3,
                            shadowColor: 'rgba(0, 0, 0, 0.6)',
                            shadowOffsetX: 2,
                            shadowOffsetY: 2
                        }
                    }],
                    legend: {
                        data: legendData
                    },
                    xAxis: {
                        data: xAxisData // data.history.map(r => dayjs(r.timestamp * 1000).format('MM-DD HH:mm'))
                    },
                    yAxis: [{
                        type: 'value',
                        scale: true,
                        name: '价格',
                        boundaryGap: [0.2, 0.2]
                    },
                        {
                            type: 'value',
                            scale: true,
                            name: '价差%',
                            max: 3,
                            min: 0,
                            boundaryGap: [0.2, 0.2]
                        }],
                    series: seriesData
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                this.$data.refreshing = false;
            }
        },
        mounted: function () {
            let _self = this;
            // console.log('mounted');
            axios.get('/api/quote')
                .then(response => {
                    response.data.map(q => {
                        q.price = '-';
                        q.selected = false;
                        q.view = true;
                        return q;
                    });
                    _self.$data.quote = response.data;
                    socket.emit('init');
                })
                .catch(err => {
                    console.error(err)
                })
        }
    });

    socket.on('init_price', data => {
        // console.log('~', data);
        //{ok-btc/usdt: 12916.2, ...}
        for (let i in data) {
            [en, s] = i.split('-');
            pushData(en, s, data[i]);
        }
    });
    socket.on('price', data => {
        // console.log('~', data);
        //把价格转换成二维数组中的一个元素
        vue.pushData(data.exchangeName, data.quoteName, data.price);
    });

    let legendData = [];
    let xAxisData = [];
    let seriesData = [];
    // [{
    //     symbol: "none",
    //     name: 'uniswap',
    //     type: 'line',
    //     data: data.history.map(r => r.univ2Price)
    // }, {
    //     symbol: "none",
    //     name: 'sushiswap',
    //     type: 'line',
    //     data: data.history.map(r => r.sushiPrice)
    // }, {
    //     symbol: "none",
    //     name: '价差%',
    //     type: 'bar',
    //     yAxisIndex: 1,
    //     data: data.history.map(r => r.arbitrageRate)
    // }];

</script>
</html>
